{extend name="../../../public/static/common/base" /}
{block name="title"}矿机添加{/block}
{block name="style"}
<style>
    .thumbnail_box {
        display: none;
    }
	.layui-laydate-content>.layui-laydate-list {
	    padding-bottom: 0px;
	    overflow: hidden;
	}
	.layui-laydate-content>.layui-laydate-list>li{
	    width:50%
	}
	.merge-box .scrollbox .merge-list {
	    padding-bottom: 5px;
	}
</style>
{/block}
{block name="page"}
<div class="layui-fluid">
    <div class="layui-row">
        <form action="" method="post" class="layui-form layui-form-pane">
        	<input type="num" hidden value="{$info['id']}" id= "order_id" name="order_id">
           
            <div class="layui-form-item">
                <label for="tel" class="layui-form-label">
                   持有账号
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="tel" name="tel" value="{$info['tel']}" autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label for="get_price" class="layui-form-label">
                   购买时价格
                </label>
                <div class="layui-input-inline">
                    <input type="number" value="{$info['get_price']}" disabled style="background:#C0C0C0;"  autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label for="new_price" class="layui-form-label">
                    升值后价格
                </label>
                <div class="layui-input-inline">
                    <input type="number" value="{$info['new_price']}" disabled style="background:#C0C0C0;"  autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="rate" class="layui-form-label">
                    升值比例
                </label>
                <div class="layui-input-inline">
                    <input type="number"  value="{$info['rate']}" disabled style="background:#C0C0C0;"  autocomplete="off" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label for="up_time" class="layui-form-label">
                    已升值次数
                </label>
                <div class="layui-input-inline">
                    <input type="number"  value="{$info['up_time']}" disabled style="background:#C0C0C0;" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="sta_time" class="layui-form-label">
                    创建时间
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="sta_time" name="sta_time" value="{if($info['sta_time'] == 0)}  '' {else} {:date('m-d H:i:s',$info['sta_time'])} {/if}"  disabled style="background:#C0C0C0;" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="power" class="layui-form-label">
                    结束时间
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="end_time" name="end_time" value="{if($info['end_time'] == 0)}   {else} {:date('m-d H:i:s',$info['end_time'])} {/if}" disabled style="background:#C0C0C0;" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="power" class="layui-form-label">
                    上次升值时间
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="last_time" name="last_time" value="{if($info['last_time'] == 0)}   {else} {:date('m-d H:i:s',$info['last_time'])} {/if}" disabled style="background:#C0C0C0;" autocomplete="off" class="layui-input">
                </div>
            </div>

            {if in_array('/mutualaid/mutualaidmemberedit', (array)session('power_action'))}
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="role_add">修改</button>
            </div>
            {/if}
        </form>
    </div>
</div>
{/block}
{block name="js"}
<script>
    $(function  () {
        layui.use('form', function(){
            let form = layui.form;
            form.on('submit(role_add)', function(data){
                $.ajax({
                    url: "{:url('mutualaid/mutualAidMemberEditPost')}",//'/admin/mutualaid/mutualAidMemberEditPost',
                    type: 'post',
                    data: {
                    	order_id: data.field.order_id,
                    	tel: data.field.tel
                    },
                    success: function (data) {
                        if(data.code === 1){
                            layer.msg(data.msg);
                            setTimeout(function(){
                                parent.location.reload();
                            }, 500);
                        }else {
                            layer.msg(data.msg);
                        }
                    }
                });
                return false;
            });
        });
    });
</script>
{/block}