{extend name="../../../public/static/common/base" /}
{block name="title"}开通记录{/block}
{block name="style"}
<style>
    .layui-table td, .layui-table th {
        min-width: unset !important;
    }
    .role_user {
        display: inline-block;
        margin-right: 5px;
        padding: 5px;
        background-color: #f0f0f0;
    }
    .my_aaa {
        padding: 9px 0 !important;
    }
    .aaa {
		color: red;
    }
    .bbb{
		color: blue;
    }
</style>
{/block}
{block name="page"}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="javascript:;">系统</a>
        <a href="javascript:;">直通车</a>
        <a><cite>开通记录</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-input-inline layui-show-xs-block">
                            <input type="text" name="user_tel" value="{$param_user_tel}" placeholder="手机号码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="width: 20px;">ID</th>
                            <th style="width: 40px;">手机号</th>
                            <th style="width: 40px;">时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if !empty($list->items())}
                        {volist name="list" id="member"}
                        <tr>
                            <td>{$member['id']}</td>
                            <td>{$member['tel']}</td>
                            <td>{$member['add_time']|date='Y-m-d H:i:s'}</td>
                        </tr>
                        {/volist}
                        {else /}
                        <tr>
                            <td colspan="3" class="nodata_td">无记录</td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        {$list|raw}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use('form', function () {
       let form = layui.form;
       form.render();
    });
</script>
{/block}