{extend name="../../../public/static/common/base" /}
{block name="title"}商品列表{/block}
{block name="style"}
<style>
    .layui-table td, .layui-table th {
        min-width: unset !important;
    }
    .role_user {
        display: inline-block;
        margin-right: 5px;
        padding: 5px;
        background-color: #f0f0f0;
    }
    .my_aaa {
        padding: 9px 0 !important;
    }
    .aaa {
		color: red;
    }
    .bbb{
		color: blue;
    }
</style>
{/block}
{block name="page"}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="javascript:;">系统</a>
        <a href="javascript:;">商城管理</a>
        <a><cite>商品列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    {if in_array('/goods/categoryadd', (array)session('power_action'))} <!-- '/admin/goods/categoryadd' -->
                    <button class="layui-btn layui-btn-normal" onclick="xadmin.open('添加分类','{:url('goods/categoryadd')}',600,400)">
                        <i class="layui-icon"></i>添加
                    </button>
                    {else /}
                    <button class="layui-btn layui-btn-disabled">
                        <i class="layui-icon"></i>添加
                    </button>
                    {/if}
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="width: 20px;">ID</th>
                            <th style="width: 50px;">名称</th>
                            <th style="width: 50px;">上级ID</th>
                            <th style="width: 50px;">排序</th>
                            <th style="width: 10px;">状态</th>
                            <th style="width: 100px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
						{volist name="list" id="user"}
						<tr>
                            <td>{$user['id']}</td>
                            <td>{$user['name']}</td>
                            <td>{$user['pid']}</td>
                            <td>{$user['sort']}</td>
                            <td>
                            <input type="checkbox" value="1" data-id="status" data-ids="{$user['id']}" lay-skin="switch" {if $user['status'] == '1'} checked {/if}>
                            </td>
                            <!-- <td>
                            {if in_array('/admin/admin/menustatus', (array)session('power_action'))}
                                {switch $user['status']}
                                {case 2}
                                <button class="layui-btn layui-btn-warm" onclick="menu_status(this, '{$user[\'id\']}', 1)">
                                   开启
                                </button>
                                {/case}
                                {case 1}
                                <button class="layui-btn" onclick="menu_status(this, '{$user[\'id\']}', 2)">
                                    关闭
                                </button>
                                {/case}
                                {default /}<span style="color: grey;">未知</span>
                                {/switch}
                             {else/}
                             	{switch $user['status']}
                                {case 2}
                                <button class="layui-btn layui-btn-warm" >
                                    <i class="iconfont">&#xe69d;</i> 开启
                                </button>
                                {/case}
                                {case 1}
                                <button class="layui-btn layui-btn-disabled">
                                    <i class="iconfont">&#xe69d;</i> 开启
                                </button>
                                {default /}<span style="color: grey;">未知</span>
                                {/switch}
                              {/if}
                            </td> -->
                            <td>
                                <!--编辑-->
                                {if in_array('/goods/categoryedit', (array)session('power_action'))}  <!-- '/admin/goods/categoryedit/id/{$user[\'id\']}' -->
                                <button class="layui-btn layui-btn-normal" onclick="xadmin.open('编辑','{:url('goods/categoryedit')}?id='+{$user[\'id\']},600,400)">
                                    <i class="iconfont">&#xe69e;</i> 编辑
                                </button>
                                {else /}
                                <button class="layui-btn layui-btn-disabled">
                                    <i class="iconfont">&#xe69e;</i> 编辑
                                </button>
                                {/if}
                                
                                
                                <!--删除-->
                                {if in_array('/goods/categorydelete', (array)session('power_action'))}
                                <button class="layui-btn layui-btn-danger" onclick="member_del(this, '{$user[\'id\']}')" style="margin-top:5px;">
                                    <i class="iconfont">&#xe69d;</i> 删除
                                </button>
                                {else /}
                                <button class="layui-btn layui-btn-disabled" style="margin-top:5px;">
                                    <i class="iconfont">&#xe69d;</i> 删除
                                </button>
                                {/if}
                            
                            </td>
						</tr>
							{volist name="user['c_list']" id="u_list"}
							<tr>
                            <td>{$u_list['id']}</td>
                            <td> --{$u_list['name']}</td>
                            <td>{$u_list['pid']}</td>
                            <td>{$u_list['sort']}</td>
                            <td>
                            <input type="checkbox" value="1" data-id="status" data-ids="{$u_list['id']}" lay-skin="switch" {if $u_list['status'] == '1'} checked {/if}>
                            </td>
                            <!-- <td>
                            {if in_array('/admin/admin/menustatus', (array)session('power_action'))}
                                {switch $u_list['status']}
                                {case 2}
                                <button class="layui-btn layui-btn-warm" onclick="menu_status(this, '{$u_list[\'id\']}', 1)">
                                   开启
                                </button>
                                {/case}
                                {case 1}
                                <button class="layui-btn" onclick="menu_status(this, '{$u_list[\'id\']}', 2)">
                                    关闭
                                </button>
                                {/case}
                                {default /}<span style="color: grey;">未知</span>
                                {/switch}
                             {else/}
                             	{switch $u_list['status']}
                                {case 2}
                                <button class="layui-btn layui-btn-warm" >
                                    <i class="iconfont">&#xe69d;</i> 开启
                                </button>
                                {/case}
                                {case 1}
                                <button class="layui-btn layui-btn-disabled">
                                    <i class="iconfont">&#xe69d;</i> 开启
                                </button>
                                {default /}<span style="color: grey;">未知</span>
                                {/switch}
                              {/if}
                            </td> -->
                            <td>
                                <!--编辑-->
                                {if in_array('/goods/categoryedit', (array)session('power_action'))}  <!-- '/admin/goods/categoryedit/id/{$u_list[\'id\']}' -->
                                <button class="layui-btn layui-btn-normal" onclick="xadmin.open('编辑','{:url('goods/categoryedit')}?id='+{$u_list[\'id\']},600,400)">
                                    <i class="iconfont">&#xe69e;</i> 编辑
                                </button>
                                {else /}
                                <button class="layui-btn layui-btn-disabled">
                                    <i class="iconfont">&#xe69e;</i> 编辑
                                </button>
                                {/if}
                                
                                
                                <!--删除-->
                                {if in_array('/goods/categorydelete', (array)session('power_action'))}
                                <button class="layui-btn layui-btn-danger" onclick="member_del(this, '{$u_list[\'id\']}')" style="margin-top:5px;">
                                    <i class="iconfont">&#xe69d;</i> 删除
                                </button>
                                {else /}
                                <button class="layui-btn layui-btn-disabled" style="margin-top:5px;">
                                    <i class="iconfont">&#xe69d;</i> 删除
                                </button>
                                {/if}
                            
                            </td>
						</tr>
							{/volist}
						{/volist}
                        <!-- <tr>
                            <td colspan="15" class="nodata_td">无记录</td>
                        </tr> -->

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use('form', function () {
       let form = layui.form;
       form.render();
    });

    // 修改菜单状态
    function menu_status(obj, id, status) {
    	alert(status);
        if(status !== 1 && status !== 2){
            layer.msg('错误的操作');
            return false;
        }
        layer.confirm(status === 1 ? '确定启用菜单？' : '确定停用菜单？', function(index) {
            $.ajax({
                url: "{:url('goods/categoryDelete')}",//'/admin/goods/categoryDelete',
                type: 'post',
                data: {
                    id: id,
                    status: status
                },
                success: function (data) {
                    if(data.code === 1){
                        layer.msg(data.msg);
                        setTimeout(function(){
                            window.location.reload();
                        }, 500);
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        });
    }


    // 删除角色
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function(index) {
            $.ajax({
                url: "{:url('goods/categorydelete')}",//'/admin/goods/categorydelete',
                type: 'post',
                data: {
                    id: id,
                },
                success: function (data) {
                    if(data.code === 1){
                        layer.msg(data.msg);
                        setTimeout(function(){
                            window.location.reload();
                        }, 500);
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        });
    }
    
</script>
{/block}