{extend name="../../../public/static/common/base" /}
{block name="title"}等级配置{/block}
{block name="style"}
<style>
    .layui-table td, .layui-table th {
        min-width: unset !important;
    }

</style>
{/block}
{block name="page"}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="javascript:;">用户</a>
        <a href="javascript:;">等级配置</a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
               <div class="layui-card-header">
                  {if in_array('/admin/roleadd', (array)session('power_action'))}	<!-- '/admin/member/levelAdd' -->
                    <button class="layui-btn layui-btn-normal" onclick="xadmin.open('添加等级','{:url('member/levelAdd')}',465,580)">
                        <i class="layui-icon"></i>添加
                    </button>
                    {else /}
                    <button class="layui-btn layui-btn-disabled">
                        <i class="layui-icon"></i>添加
                    </button>
                    {/if}
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="width: 13px;">ID</th>
                            <th style="width: 20px;">等级名称</th>
                            <th style="width: 20px;">logo</th>
                            <!-- <th style="width: 10px;">交易手续费</th> -->
                            <th style="width: 15px;">有效直推要求</th>
                            <!-- <th style="width: 15px;">有效团队要求</th> -->
                            <th style="width: 15px;">累计购买金额要求</th>
                            <!--<th style="width: 10px;">一代收益比例</th>-->
                            <!--<th style="width: 15px;">二代收益比例</th>-->
                            <!--<th style="width: 15px;">三代收益比例</th>-->
                            <!-- <th style="width: 15px;">团队收益比例</th> -->
                            <th style="width: 30px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if !empty($levels)}
                        {volist name="$levels" id="level"}
                        <tr align="center">
                            <td>{$level['id']}</td>
                            <td>{$level['name']}</td>
                            <td onclick="confirm('{$level[\'level_logo\']}')"><img src="{$level['level_logo']}" style="width: 30px;height:30px"></td>
                            <!-- <td>{$level['sell_rate']}</td> -->
                            <td>{$level['direct_push']}</td>
                            <!-- <td>{$level['team_push']}</td> -->
                            <td>{$level['pet_assets']}</td>
                            <!--<td>{$level['one_era']}</td>-->
                            <!--<td>{$level['two_era']}</td>-->
                            <!--<td>{$level['three_era']}</td>-->
                            <!-- <td>{$level['team_income_ratio']}</td> -->
                            <!-- <td>{$level['era']}</td> -->
                            <td>																			<!-- '/admin/member/levelEdit/id/{$level[\'id\']}' -->
                                <button class="layui-btn layui-btn-warm" onclick="xadmin.open('编辑等级','{:url('member/levelEdit')}?id='+{$level[\'id\']},465,580)">
                                    <i class="iconfont">&#xe69c;</i> 编辑
                                </button>
                            </td>
                        </tr>
                        {/volist}
                        {else /}
                        <tr>
                            <td colspan="27" class="nodata_td">无记录</td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>

    //日期选择
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#add_time_s',
            type: 'datetime'
        });
        laydate.render({
            elem: '#add_time_e',
            type: 'datetime'
        });

    });

    layui.use('form', function () {
        let form = layui.form;
        form.render();
    });
    
    
    function confirm(url) {   	
        $("#displayImg").attr("src", url);
        var width = 'auto';
        var height = 'auto';
        
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            area: [width + 'px', height + 'px'], //宽高
            content: "<img src=" + url + " />"
        });
    }


    // 控制卖出状态
    function level_sta(obj, id, status) {
        if(status !== 1 && status !== 2){
            layer.msg('错误的操作');
            return false;
        }
        layer.confirm(status === 2 ? '确定该等级订单显示？' : '确定该等级订单隐藏？', function(index) {
            $.ajax({
                url: "{:url('base/uploadImage')}",//'/admin/member/level_hide',
                type: 'post',
                data: {
                    id: id,
                    status: status
                },
                success: function (data) {
                    if(data.code === 1){
                        layer.msg(data.msg);
                        setTimeout(function(){
                            window.location.reload();
                        }, 500);
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        });
    }

</script>
{/block}