{extend name="../../../public/static/common/base" /}
{block name="title"}角色列表{/block}
{block name="style"}
<style>
	.layui-table td, .layui-table th {
		min-width: unset !important;
	}
	.node_item {
		clear: both;
		box-sizing: border-box;
		height: 24px;
		padding: 4px;
		cursor:pointer
	}
	.node_item .select_box {
		box-sizing: border-box;
		float: left;
		width: 16px;
		height: 16px;
		border: 1px solid #cfcfcf;
		margin-right: 10px;
	}
	.node_item .select_box.have {
		background-color: grey;
	}
	.node_item .select_box.chose {
		background-color: #22af22;
	}
	.node_item .node_name {
		float: left;
		height: 16px;
		line-height: 16px;
	}
	.node_item .tab {
		float: left;
		height: 16px;
		width: 26px;
	}
</style>
{/block}
{block name="page"}
<div class="layui-fluid">
	<div class="layui-row layui-col-space15" >
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<ul class="layui-tab-title">

						<li id="module_1" onclick="changeModule('1',{$id})">基本信息</li>
						<!-- <li id="module_12" onclick="changeModule('12',{$id})">实名信息</li> -->
						<li id="module_2" onclick="changeModule('2',{$id})">产品列表</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item" id="module_menus_box_1">
							<div class="layui-form-item">
								<!--基本信息start-->
								<div class="layui-input-inline">
									账号 ：<span style="color: darkgreen;">{$user['tel']}</span>
								</div>
								<div class="layui-input-inline">
								昵称 ：<span style="color: darkgreen;">{$user['user']}</span>
								</div>
								<div class="layui-input-inline">
									状态 ：
									{switch $user['status']}
									{case 1}<span style="color: darkgreen;">未激活</span>{/case}
									{case 2}<span style="color: orangered;">已激活</span>{/case}
									{case 3}<span style="color: grey;">冻结</span>{/case}
									{default /}<span style="color: grey;">错误状态</span>
									{/switch}
								</div>
								<!-- <div class="layui-input-inline">
									实名 ：
									{switch $user['real_name_status']}
									{case 0}<span style="color: darkgreen;">未申请</span>{/case}
									{case 1}<span style="color: darkgreen;">已实名</span>{/case}
									{case 2}<span style="color: orangered;">已提交</span>{/case}
									{case 3}<span style="color: grey;">已驳回</span>{/case}
									{default /}<span style="color: grey;">未知</span>
									{/switch}
								</div> -->
								<div class="layui-input-inline">
									推荐人 ：<span style="color: darkgreen;">{$user['f_tel']}</span>
								</div>
								<div class="layui-input-inline">
									推荐码 ：<span style="color: darkgreen;">{$user['guid']}</span>
								</div>
								<div class="layui-input-inline">
									注册IP ：<span style="color: darkgreen;">{$user['register_ip']}</span>
								</div>
								<div class="layui-input-inline">
									登录IP ：<span style="color: darkgreen;">{$user['last_ip']}</span>
								</div><div class="layui-input-inline">
									会员等级 ：<span style="color: darkgreen;">{$user['level_name']}</span>
								</div>
								<!--基本信息end-->
								<!--资金相关start-->
								<div class="layui-input-inline">
									可提现余额 ：<span style="color: darkgreen;">{$user['balance']}</span>
								</div>
								<div class="layui-input-inline">
									充值余额 ：<span style="color: darkgreen;">{$user['coin']}</span>
								</div>
								<!-- <div class="layui-input-inline">
									收益转存 ：<span style="color: darkgreen;">{$user['profit_deposit']}</span>
								</div> -->
								<div class="layui-input-inline">
									推荐收益 ：<span style="color: darkgreen;">{$user['profit_recom']}</span>
								</div>
								<!-- <div class="layui-input-inline">
									团队收益 ：<span style="color: darkgreen;">{$user['profit_team']}</span>
								</div> -->

								<!--资金信息end-->

								<!--团队相关start-->
								<div class="layui-input-inline">
									有效直推 ：<span style="color: darkgreen;">{$user['zt_yx_num']}</span>
								</div>
								<!-- <div class="layui-input-inline">
									有效团队 ：<span style="color: darkgreen;">{$user['yx_team']}</span>
								</div> -->

								<!--团队相关end-->

							</div>
						</div>
						<!-- 实名信息-->
						<div class="layui-tab-item" id="module_menus_box_12">
						{if $user['real_name_status'] == 1}
							<div class="layui-form-item">
								<label for="cycle" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>真实姓名
								</label>
								<div class="layui-input-inline">
									<input type="text" value="{$user['real_name']}" readonly autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label for="cycle" class="layui-form-label"  readonly style="width: 150px">
									<span class="x-red">*</span>身份证号
								</label>
								<div class="layui-input-inline">
									<input type="text" value="{$user['idcard']}" readonly  autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label for="cycle" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>联系方式
								</label>
								<div class="layui-input-inline">
									<input type="text"  value="{$user['tel']}" readonly autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label for="cycle" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>开户行
								</label>
								<div class="layui-input-inline">
									<input type="text"  value="{$payment[3]['account_num']}" readonly autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label for="cycle" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>开户名
								</label>
								<div class="layui-input-inline">
									<input type="text"  value="{$payment[3]['name']}" readonly autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label for="cycle" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>银行卡号
								</label>
								<div class="layui-input-inline">
									<input type="text"  value="{$payment[3]['bank_num']}" readonly autocomplete="off" class="layui-input">
								</div>
							</div>

							<div class="layui-form-item">
								<label for="thumbnail" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>支付宝收款码
								</label>
								<div class="layui-input-block">
									<div class="thumbnail_box" id="thumbnail_box">
										{if condition="$payment[1]['receive_qrcode'] neq ''"}
										<img id="thumbnail_img" src="{$payment[1]['receive_qrcode']}" alt="" width="100" onclick="xadmin.open('收款码','{$payment[1][\'receive_qrcode\']}',600,600)">
										{else/}
										<img id="thumbnail_img" src="__UPLOAD__/404_img.jpg" alt="" width="100" onclick="xadmin.open('收款码','__UPLOAD__/404_img.jpg',750,600)">
										{/if}	
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label for="thumbnail" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>微信收款码
								</label>
								<div class="layui-input-block">
									<div class="thumbnail_box" id="thumbnail_box">
										{if condition="$payment[2]['receive_qrcode'] neq ''"}
										<img id="thumbnail_img" src="{$payment[2]['receive_qrcode']}" alt="" width="100" onclick="xadmin.open('收款码','{$payment[2][\'receive_qrcode\']}',600,600)">
										{else/}
										<img id="thumbnail_img" src="__UPLOAD__/404_img.jpg" alt="" width="100" onclick="xadmin.open('收款码','__UPLOAD__/404_img.jpg',750,600)">
										{/if}
									</div>
								</div>
							</div>
							<!-- <div class="layui-form-item">
								<label for="thumbnail" class="layui-form-label" style="width: 150px">
									<span class="x-red">*</span>USDT收款码
								</label>
								<div class="layui-input-block">
									<div class="thumbnail_box" id="thumbnail_box">
										{if condition="$payment[4]['receive_qrcode'] neq null"}
										<img id="thumbnail_img" src="{$payment[4]['receive_qrcode']}" alt="" width="100" onclick="xadmin.open('收款码','{$payment[4][\'receive_qrcode\']}',600,600)">
										{else/}
										<img id="thumbnail_img" src="__UPLOAD__/404_img.jpg" alt="" width="100" onclick="xadmin.open('收款码','__UPLOAD__/404_img.jpg',750,600)">
										{/if}
									</div>
								</div>
							</div> -->
						{else/}
							用户暂未实名
						{/if}

						</div>
						<div class="layui-tab-item" id="module_menus_box_2">
							<div class="layui-card-body layui-card-table">
								<table class="layui-table">
									<thead>
									<tr>
										<th style="min-width: 120px;">产品名称</th>
										<th style="min-width: 120px;">订单编号</th>
										<th style="min-width: 120px;">产品编号</th>
										<th style="min-width: 120px;">价值</th>
										<th style="min-width: 120px;">升值天数</th>
										<th style="min-width: 120px;">价值比例(%)</th>
									</tr>
									</thead>
									<tbody>
									{if !empty($mutualaid->items())}
									{volist name="mutualaid" id="mutu"}
									<tr>
										<td>{$mutu['name']}</td>
										<td>{$mutu['orderNo']}</td>
										<td>{$mutu['purchase_no']}</td>
										<td>{$mutu['new_price']}</td>
										<td>{$mutu['days']}</td>
										<td>{$mutu['rate']}</td>

									</tr>
									{/volist}
									{else /}
									<tr>
										<td colspan="7" class="nodata_td">无记录</td>
									</tr>
									{/if}
									</tbody>
								</table>
							</div>
							<div class="layui-card-body ">
								<div class="page">
									{$mutualaid|raw}
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="js"}
<script>
	var active_module = '{$my_active_module}'; // 当前模块
	$("#module_"+active_module).addClass('layui-this'); // 初始化系统模块
	$("#module_menus_box_"+active_module).addClass('layui-show'); // 初始化系统模块菜单

	// 切换模块
	function changeModule(module_id,id) {
		if(module_id != active_module){
			/*active_module = module_id; // 切换模块
            $(".layui-tab-item").removeClass('layui-show'); // 先隐藏所有菜单
            $("#module_menus_box_"+active_module).addClass('layui-show'); // 显示当前模块菜单*/
			//window.location.href="/admin/member/memberDetail/id/"+{$id}+"/my_active_module/"+module_id;
            window.location.href="{:url('member/memberDetail')}?id="+id+"&my_active_module="+module_id;
		}
	}


	layui.use(['form'], function(){
		let form = layui.form;
		form.render();
		form.on('submit(role_power)', function(data){
			$.ajax({
				url: data.form.action,
				type: 'post',
				data: {
					id: data.field.id,
					power: chose_ids
				},
				success: function (data) {
					if(data.code === 1){
						layer.msg(data.msg);
						setTimeout(function(){
							parent.location.reload();
						}, 500);
					}else {
						layer.msg(data.msg);
					}
				}
			});
			return false;
		});
	});
</script>
{/block}