{extend name="../../../public/static/common/base" /}
{block name="title"}订单详情{/block}
{block name="style"}{/block}
{block name="page"}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <img src="{$order}" alt="">
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="js"}
<script>
</script>
{/block}