{extend name="../../../public/static/common/base" /}
{block name="title"}商品列表{/block}
{block name="style"}
<style>
    .layui-table td, .layui-table th {
        min-width: unset !important;
    }
    .role_user {
        display: inline-block;
        margin-right: 5px;
        padding: 5px;
        background-color: #f0f0f0;
    }
    .my_aaa {
        padding: 9px 0 !important;
    }
    .aaa {
		color: red;
    }
    .bbb{
		color: blue;
    }
</style>
{/block}
{block name="page"}
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="javascript:;">系统</a>
        <a href="javascript:;">幸运大抽奖</a>
        <a><cite>中奖列表</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card"><div class="layui-card-body ">
                    <div class="layui-tab-content">
	                    <form class="layui-form layui-col-space5">
	                        <div class="layui-input-inline layui-show-xs-block">
	                            <select name="type">
	                                <option value="0" <?php if($type == 0) echo 'selected';?>>奖品类型</option>
	                                <option value="1" <?php if($type == 1) echo 'selected';?>>主币</option>
	                                <option value="2" <?php if($type == 2) echo 'selected';?>>辅币</option>
	                                <option value="3" <?php if($type == 3) echo 'selected';?>>推荐收益</option>
	                                <option value="4" <?php if($type == 4) echo 'selected';?>>团队收益</option>
	                                <option value="5" <?php if($type == 5) echo 'selected';?>>其他</option>
	                            </select>
	                        </div>
	                        <div class="layui-input-inline layui-show-xs-block">
	                            <input type="text" name="tel" value="{$user_tel}" placeholder="手机号码" autocomplete="off" class="layui-input">
	                        </div>
	                        <div class="layui-inline layui-show-xs-block">
	                            <input class="layui-input"  autocomplete="off" placeholder="添加开始时间" name="add_time_s" value="{$param_add_time_s}" id="add_time_s">
	                        </div>
	                        <div class="layui-inline layui-show-xs-block">
	                            <input class="layui-input"  autocomplete="off" placeholder="添加截至时间" name="add_time_e" value="{$param_add_time_e}" id="add_time_e">
	                        </div>
	                        
	                        <div class="layui-input-inline layui-show-xs-block">
	                            <button class="layui-btn" lay-submit="" lay-filter="sreach">
	                                <i class="layui-icon">&#xe615;</i>
	                            </button>
	                        </div>
	                    </form>
	                </div>
                </div>
                
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th style="min-width: 30px;width: 30px;">ID</th>
                            <th style="min-width: 100px;">用户ID</th>
                            <th style="min-width: 100px;">用户电话</th>
                            <th style="min-width: 100px;">奖品类型</th>
                            <th style="min-width: 150px;">奖品信息</th>
                            <th style="min-width: 30px;">中奖时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if !empty($list->items())}
						{volist name="list" id="user"}
						<tr>
                            <td>{$user['id']}</td>
                            <td>{$user['uid']}</td>
                            <td>{$user['tel']}</td>
							<td>
                           	{switch $user['type_id']}
	                            {case 1}主币{/case}
	                            {case 2}辅币{/case}
	                            {case 3}推荐收益{/case}
	                            {case 4}团队收益{/case}
	                            {case 5}其他{/case}
                            {/switch}
                            </td>
                            
                            <td>{$user['msg']}</td>
                            <td>{$user['time']|date='m-d H:i:s'}</td>
						</tr>
						{/volist}
                        {else /}
                        <tr>
                            <td colspan="15" class="nodata_td">无记录</td>
                        </tr>

                        </tbody>
                        {/if}
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        {$list|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>

	//日期选择
	layui.use(['laydate','form'], function(){
	    var laydate = layui.laydate;
	    laydate.render({
	        elem: '#add_time_s',
	        type: 'datetime'
	    });
	    laydate.render({
	        elem: '#add_time_e',
	        type: 'datetime'
	    });
	
	});

    layui.use('form', function () {
       let form = layui.form;
       form.render();
    });
    
    layui.use('form', function () {
        let form = layui.form;
        form.render();
        form.on('switch', function(data){
            let data_id = $(data.elem).attr('data-id');
            let id = $(data.elem).attr('data-ids');
            if(data.elem.checked){
                $("#"+data_id).val(1);
                var status = '1';
            }else {
                $("#"+data_id).val(2);
                var status = '2';
            }
            
             $.ajax({
                url: "{:url('goods/goodsEditStatus')}",//'/admin/goods/goodsEditStatus',
                type: 'post',
                data: {
                    id: id,
                    status: status
                },
                success: function (data) {
                    if(data.code === 1){
                        layer.msg(data.msg);
                        setTimeout(function(){
                            window.location.reload();
                        }, 500);
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
            
        });
    });



    function confirm(url) {   	
        $("#displayImg").attr("src", url);
        var width = 'auto';
        var height = 'auto';
        
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            area: [width + 'px', height + 'px'], //宽高
            content: "<img src=" + url + " />"
        });
    }


    // 删除角色
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function(index) {
            $.ajax({
                url: "{:url('goods/orderdelete')}",///admin/goods/goodsdelete,
                type: 'post',
                data: {
                    id: id,
                },
                success: function (data) {
                    if(data.code === 1){
                        layer.msg(data.msg);
                        setTimeout(function(){
                            window.location.reload();
                        }, 500);
                    }else {
                        layer.msg(data.msg);
                    }
                }
            });
        });
    }
    
</script>
{/block}